### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
#commenting the out. Need lombok generated code for reference
#out
gen
# Created by .ignore support plugin (hsz.mobi)
